[submodule "roles/ansible-role-ntp"]
	path = roles/ansible-role-ntp
	url = https://github.com/mili-sucevic/ansible-role-ntp.git
[submodule "roles/ansible-role-filebeat"]
	path = roles/ansible-role-filebeat
	url = https://github.com/geerlingguy/ansible-role-filebeat.git
[submodule "roles/ansible-role-java"]
	path = roles/ansible-role-java
	url = https://github.com/geerlingguy/ansible-role-java
